.chat__header {
  grid-column: full-start / full-end;
  grid-row: header-start / header-end;
  border-bottom: var(--border-primary);
  padding: 1rem;

  display: flex;
  align-items: center;
}

.header__flag {
  max-width: 4.5rem;
  margin-right: 1rem;
}

.header__username {
  color: var(--font-color);
  font-weight: bold;
  font-size: 2rem;
  margin-right: 1rem;
}

.header__gender {
  opacity: 0.9;
}

.header__stranger-container {
  display: flex;
  align-items: center;
}

.header__user-container {
  display: flex;
  margin-left: auto;
  align-items: center;
}
