.messageList {
  border-bottom: var(--border-primary);
  grid-column: full-start/full-end;
  grid-row: messages-start/messages-end;
  overflow: scroll;
}



.admin-message {
  color: var(--font-color);
  opacity: 0.5;
  text-align: center;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;

}
.stranger-typing {
  color: white;
  opacity: 0.5;
  font-size: 1.2rem;
  position: absolute;
  bottom: 0.5rem;
  left: 1.6rem;
  font-style: italic;
  animation: easeOutIn 1.5s; 
  animation-iteration-count: infinite;
}

@keyframes easeOutIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}