.App {
  min-height: 100vh;
  width: 100vw;

  background-color: var(--color-background);
  background-repeat: repeat;

  position: relative;
  z-index: -10;

  display: grid;
  gap: var(--app-gutter);
  grid-template-columns:
    [full-start] minmax(16px, 1fr) [center-start] minmax(720px, 1024px)
    [center-end] minmax(16px, 1fr) [full-end];
  grid-template-rows: [header-start] 64px [header-end main-start] auto [ main-end footer-start] 64px [footer-end];
}

.App::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(/images/pattern-background.png);
  opacity: 0.2;
  z-index: -1;
}
